apiVersion: v1
clusters:
  - cluster:
      insecure-skip-tls-verify: {{.InsecureSkipTLSVerify}}
      server: >-
        https://{{.Server}}/
    name: {{.ClusterName}}
contexts:
  - context:
      cluster: {{.ClusterName}}
      namespace: default
      user: ngpc-user
    name: {{.OrgName}}-{{.ClusterName}}
  - context:
      cluster: {{.ClusterName}}
      namespace: default
      user: oidc
    name: {{.OrgName}}-{{.ClusterName}}-oidc
current-context: {{.OrgName}}-{{.ClusterName}}
kind: Config
preferences: {}
users:
  - name: ngpc-user
    user:
      token: >-
        {{.Token}}
  - name: oidc
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        args:
          - oidc-login
          - get-token
          - '--oidc-issuer-url={{.OidcIssuerURL}}'
          - '--oidc-client-id={{.OidcClientID}}'
          - '--oidc-extra-scope=openid'
          - '--oidc-extra-scope=profile'
          - '--oidc-extra-scope=email'
          - '--oidc-auth-request-extra-params=organization={{.OrgID}}'
          - '--token-cache-dir=~/.kube/cache/oidc-login/{{.OrgID}}'
        command: kubectl
        env: null
        interactiveMode: IfAvailable
        provideClusterInfo: false
